@model VmPortfolio
@{
    ViewData["Title"] = "Index";
}

@*Banner Section*@

<section id="uni-banner" style="background-image: url('Uploads/@Model.Banner.Image');">
    <div class="container">
        <div class="banner-text">
            <h1>Portfolio</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    Portfolio
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape-one"></div>
        <div class="shape-two"></div>
        <div class="shape-three"></div>
    </div>
</section>

@*Project Section*@

<section class="project-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <ul class="project-nav project-isotope-filter">
                    <li data-filter="*" class="active"> All Project </li>
                </ul>
            </div>
        </div>
        <div class="u-fade-type-down js-scroll-trigger">
            <div class="row project-boxes project-isotope mt-60 justify-content-center">
                @foreach (var item in Model.Projects)
                {
                    <div class="isotope-item col-lg-4 col-sm-6 item-@item.Filter">
                        <div class="project-box hover-style">
                            <div class="project-thumb">
                                <div class="thumb bg-img-c" style="background-image: url('Uploads/@item.MainImage');background-position: center;background-size: cover;"></div>
                            </div>
                            <div class="project-desc text-center">
                                <h4><a asp-controller="Portfolio" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h4>
                                <p>Join us for consultatoins</p>
                                <a asp-controller="Portfolio" asp-action="Detail" asp-route-id="@item.Id" class="project-link">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

@*Partners Section*@

<div class="u-fade-type-down js-scroll-trigger">
    <section id="featuredby" class="featured-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel featuredbyslider owl-theme">
                        @foreach (var item in Model.Partners)
                        {
                            <div class="item img-fluid">
                                <img src="~/Uploads/@item.Image" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>